.user {
    display: flex;
    width: 800px;
    max-height: 100px;
    margin-bottom: 20px;
}
.user__img {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user__img img {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
}
.user__img button {
    display: block;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: none;
    background-color: forestgreen;
    color: white;
    text-align: center;
    /*padding-left: 3px;*/
    font-size: 20px;
}
.user__descr {
    display: flex;
    width: 80%;
    border: 3px solid dimgray;
    border-radius: 10px;
    font-size: 25px;
    color: dimgray;
    padding: 10px;
}
.user__descr__ident {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}
.user__descr__location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}
