.header {
    grid-area: header;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img {
    width: 60px;
    height: 100%;
}
.header div.logout {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.header div.logout:hover {
    color: black;
    transition: color 0.5s ease-in;
}